<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user create</title>
</head>
<body>
<!--<form th:action="@{/admin/user-create}" th:object="${user}" method="post">-->
<!--    <label for="name">name</label>-->
<!--    <input type="text" th:field="*{name}" id="name" placeholder="name">-->
<!--    <label for="password">password</label>-->
<!--    <input type="text" th:field="*{password}" id="password" placeholder="password">-->
<!--    <label for="roles">roles</label>-->
<!--    <input type="text" th:field="*{roles}" id="roles" placeholder="roles">-->

<!--    <input type="submit" value="user create">-->
<!--</form>-->

<form th:action="@{/admin/user-create}" th:object="${user}" method="post">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <label>name</label>
            <input type="text" class="form-control" th:field="*{name}">
        </div>
        <div class="col-md-6 form-group">
            <label>password</label>
            <input type="text" class="form-control" th:field="*{password}">
        </div>
        <div class="col-md-6 form-group">
            <div class="col-8">
                <th:block th:each="role: ${allRoles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.role}" th:value="${role.role}" class="m-2" />
                </th:block>
            </div>
        </div>
        <div class="col-md-6 form-group">
            <label>submit</label>
            <input type="submit" value="user create">
        </div>
    </div>
</form>

<p><a href="/logout">Logout</a></p>
</body>
</html>