<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8">
<head>
<title>Update user</title>
</head>
<body>
<form th:action="@{/admin/user-update}" th:object="${user}"
      method="post">
    <input type="text" th:field="*{id}" />
    <div class="m-3">
        <div class="form-group row">
            <label class="col-4 col-form-label">Name: </label>
            <div class="col-8">
                <input type="text" th:value="${user.name}" th:field="*{name}" class="form-control" required />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-4 col-form-label">Password: </label>
            <div class="col-8">
                <input type="text" th:value="${user.password}" th:field="*{password}" class="form-control"
                       required minlength="6" maxlength="10"/>
            </div>
        </div>

        <div class="col-md-6 form-group">
            <div class="col-8">
                <th:block th:each="role: ${allRoles}">
                    <input type="checkbox" th:field="*{roles}"
                           th:text="${role.role}" th:value="${role.role}" class="m-2" />
                </th:block>
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </div>
</form>
<p><a href="/logout">Logout</a></p>
</body>
</html>